<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    <%- include("../partials/header") %>

    <main>
      <img src="images/restaurants/apicius.jpg" alt="" />
      <section>
        <h1>À propos</h1>
        
        <p>
          TrouveTonResto est une plateforme permettant à la population martiniquaise
          de découvrir les merveilles culinaires de leur île à travers les
          spécialités des restaurants locaux.
        </p>
      </section>

      <section>
        <h2>Crédits</h2>

        <p>
          Photo du restaurant Apicius - de Life Of Pix: https://www.pexels.com/fr-fr/photo/verre-a-vin-clair-sur-table-67468/
        </p>
      </section>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
